.DS_Store
/nvim/.config/nvim/plugin/packer_compiled.lua
/alacritty/.config/alacritty/themes/
.zsh_history
.zhistory
.zcompdump
.zsh_sessions
nvim.bak/

# avoid tmux plugins
~/.dotfiles/tmux/plugins
tmux/.config/tmux/plugins/tmux-cpu/
tmux/.config/tmux/plugins/tmux-continuum/
.config/tmux/plugins/tmux/
